
mat-card {
    margin: 20px;
    border-left: solid 2px;
    border-color: #0000FF;;
}

.allowed-container {
    background-color: rgba(135, 211, 124, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.allowed-container mat-icon {
    color: darkgreen;
    padding-right: 5px;
}

.not-allowed-container {
    background-color: rgba(245, 81, 81, 0.3);
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.not-allowed-container mat-icon {
    color: darkred;
    padding-right: 5px;
}

mat-form-field {
    width: 90%;
    margin-left: 20px;
}
