.separator {
    border-left: dashed 2px;
    border-color: #009c3b;
    margin-left: 40px;
    width: 100px;
    height: 50px;
}

mat-card {
    margin: 20px;
    background-color: #0000FF;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #000;
    background-color: #ffdf00
}

mat-card-title {
    color: #000;
    font-size: medium;
}

mat-card-title mat-icon {
    margin-right: 5px;
}

mat-card-content mat-icon {
    margin-right: 5px;
}

.space {
    height: 20px;
}