:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer-container {
    height: 100%;
    max-height: 100%;
}

mat-drawer-content {
    padding: 20px;
}

mat-tab-group {
    height: calc(100% - 57px);
    min-height: calc(100% - 57px);
}