
.not-allowed-container {
    background-color: rgba(245, 81, 81, 0.3);
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.not-allowed-container mat-icon {
    color: darkred;
    padding-right: 5px;
}